}

body{

  background-attachment: fixed;
}

h1 {
  color: purple;
}

h2 {
  font-style: italic;
  color: blue;
}

p {
  color: darken;
}

h3 {
  color:green
}

body {
  background-color: brown;
  font-family: sans-serif;
  text-align: justify;
}
